*{
    padding: 0;
    margin: 0;
    border: 0;
}
:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.div-container {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 200px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 5px;
    
    background-color: cornsilk;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(220, 114, 238);
    margin-bottom: 5px;
}

.list > li {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 50px;
    border-radius: 3px;
    background-color: bisque;
    border: 1px solid rgb(219, 114, 238);
}

.button-syle {
    width: 50px;
    border-radius: 3px;
    background-color: rgba(0, 255, 255, 0.241);
}
